@charset 'UTF-8';
body, h1, h2, h3, h4, div, span, p, img, li, ul, a {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: '宋体';
	color: #000;
}
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
	font-size: 12px;
}
.left {
	float: left;
}
.right {
	float: right;
}
img {
	display: block;
}
.width {
	width: 1000px;
	margin: 0 auto;
}