.tubiao .img88{ background-position:-10px -10px; }
.tubiao .img77{ background-position:-10px -67px; }
.tubiao .img66{ background-position:-10px -124px; }
.tubiao .img55{ background-position:-10px -181px; }
.tubiao .img44{ background-position:-10px -238px; }
.tubiao .img33{ background-position:-10px -295px; }
.tubiao .img22{ background-position:-10px -352px; }
.tubiao .img11{ background-position:-10px -409px; }

