@charset 'UTF-8';
.touxiang {
	text-align: center;
}
.content h1 {
	text-align: center;
}
.touxiang img {
	display: inline-block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.content p {
	line-height: 70px;
	font-size: 16px;
}